.home {
    background-color: rgb(69 76 67 / 1);

    h1 {
        background-color: rgb(67 70 56 / 1);
        padding: 20px;
        border: 7px solid rgb(37 50 45 / 1);
        border-radius: 20px;
        corner-shape: notch notch bevel bevel;
    }

    .info {
        background-color: rgb(67 70 56 / 1);
        padding: 50px;
        margin: 50px;
        border: 7px solid rgb(37 50 45 / 1);
        font-size: 1.2rem;
    }

    .mainImg {
        height: 300px;
        border: 7px solid rgb(37 50 45 / 1);
    }
}
