.home {
    .info {
        background-color: rgb(67 70 56 / 1);
        padding: 50px;
        margin: 50px auto;
        border: 7px solid rgb(37 50 45 / 1);
        font-size: 1.2rem;
    }

    .hours {
        font-size: 2rem;
        text-shadow: 1px 1px 20px limegreen;
    }

    .info:last-child {
        border-radius: 20px;
        corner-shape: square square bevel bevel;
    }

    .mainImg {
        max-width: 100%;
        border: 7px solid rgb(37 50 45 / 1);
    }
}
